<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
        <h1>Home</h1>
        <form action="/toexplore" method="POST">
            <button type="submit">Explore</button>
        </form>
        <form action="/viewOrderHistory" method="POST">
            <button type="submit">View Order History</button>
        </form>
        <form action="/viewCurrentInformation" method="POST">
            <button type="submit">View Current Information</button>
        </form>
        <form action="/manageFoodTruck" method="POST">
            <button>Manage Food Truck</button>
        </form>
        <form action="/viewFoodTruckSummary" method="POST">
            <button>View Food Truck Summary</button>
        </form>
        <form action="/manageBuildingAndStation" method="POST">
            <button>Manage Building & Station</button>
        </form>
        <form action="/manageFood" method="POST">
            <button>Manage Food</button>
        </form>
</body>
</html>