<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
        background-color: #fff;
    }
    table#t01 th {
        color: white;
        background-color: black;
    }
</style>
<script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous">
</script>
<body>
    <form action="/viewSummaryDetail" method="POST">
        <h1>Summary Detail</h1>

        <div>
            <label for="label" id="label">Food Truck:</label> 
            <label for="food_truck_name" id="food_truck_name"><%= ft_name %></label>
        </div>
    </form>
    <table id='t01'>
        <tr>
            <th>Date</th>
            <th>Customer</th>
            <th>Total Purchase</th>
            <th># Orders</th>
            <th>Food(s)</th>
        </tr>
        <tbody id="myTable">
        </tbody>
    </table>
    <script>
        var myTable = <%- table %>;
        buildTable(myTable);
        function buildTable(data) { 
            var table = document.getElementById('myTable');
            for (let i = 0; i < data.length; i++) {
                var row = 
                    `<tr>
                        <td>${data[i].date}</td>
                        <td>${data[i].customerName}</td>
                        <td>${data[i].totalPurchase}</td>
                        <td>${data[i].orderCount}</td>
                        <td>${data[i].foodNames}</td>
                    <tr>`   
                table.innerHTML += row;
            }
        }
        // var victim_name = "input[name=victim_name]".val();
    </script>

    <form action="/viewFoodTruckSummary" method="POST">
        <button type="submit">Back</button>
    </form>

</body>
</html>